<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body class="">
  <main>
    <div class="">
      <label class="" for="name">
        Metadata name
      </label>
      <input id="name" name="name" type="text" placeholder="Metadata name" class="">
    </div>
    <div class="">
      <label class="" for="description">
        Metadata description
      </label>
      <input id="description" name="description" type="text" placeholder="Metadata description" class="">
    </div>
    <div class="">
      <label class="" for="token_id">
        Token ID
      </label>
      <input id="token_id" name="token_id" type="text" placeholder="Token ID" class="">
    </div>
    <div class="">
      <label class="" for="image">
        Image
      </label>
      <input id="image" name="image" type="text" placeholder="Image" class="">
    </div>
    <div class="">
      <label class="" for="current_chain">
        Current chain
      </label>
      <input id="current_chain" name="current_chain" type="text" placeholder="Current chain" class="">
    </div>
    <div class="">
      <label class="">
        Attributes
      </label>
      <div id="attribute-list" class="">
        <ul></ul>
      </div>
      <div class="">
        <input type="text" name="trait_type" placeholder="Trait type" />
        <input type="text" name="value" placeholder="Value" />
        <input type="text" name="display_type" placeholder="Display type" />
        <div id="add_attribute_button" name="add_attribute_button" class="" type="button">
          Add attribute
        </div>
      </div>
    </div>

    <div class="">
      <div id="add_metadata_button" name="add_metadata_button" class="" type="button">
        Add metadata
      </div>
    </div>
  </main>
  <script>
    const attributeList = document.querySelector('#attribute-list ul')

    var attribute_list_arr = []

    // delete attributes
    attributeList.addEventListener('click', (e) => {
      if (e.target.className == 'delete') {
        const li = e.target.parentElement
        attribute_list_arr.splice($("li").index(li), 1)
        li.parentNode.removeChild(li)
        console.table(attribute_list_arr)
      }
    });
    const add_attribute_button = document.querySelector('#add_attribute_button')

    add_attribute_button.addEventListener('click', async (e) => {
      const trait_type = document.querySelector('input[name="trait_type"]').value
      const value = document.querySelector('input[name="value"]').value
      const display_type = document.querySelector('input[name="display_type"]').value

      attribute_list_arr.push({
        trait_type: trait_type,
        value: value,
        display_type: display_type
      })

      const li = document.createElement('li')
      const trait_type_span = document.createElement('span')
      const value_span = document.createElement('span')
      const display_type_span = document.createElement('span')
      const delete_btn_span = document.createElement('span')

      trait_type_span.textContent = trait_type
      value_span.textContent = value
      display_type_span.textContent = display_type
      delete_btn_span.textContent = 'delete'

      trait_type_span.setAttribute('name', "trait_type")
      value_span.setAttribute('name', "value")
      display_type_span.setAttribute('name', "display_type")
      delete_btn_span.classList.add('delete')

      li.appendChild(trait_type_span)
      li.appendChild(value_span)
      li.appendChild(display_type_span)
      li.appendChild(delete_btn_span)

      attributeList.appendChild(li)
      console.table(attribute_list_arr)

      document.querySelector('input[name="trait_type"]').value = ''
      document.querySelector('input[name="value"]').value = ''
      document.querySelector('input[name="display_type"]').value = ''

    });
  </script>
  <script>
    const add_metadata_button = document.querySelector('#add_metadata_button')

    add_metadata_button.addEventListener('click', async (e) => {

      const name_input = document.querySelector('input[name="name"]').value
      const description_input = document.querySelector('input[name="description"]').value
      const token_id_input = document.querySelector('input[name="token_id"]').value
      const image_input = document.querySelector('input[name="image"]').value
      const current_chain_input = document.querySelector('input[name="current_chain"]').value
      if (
        name_input != "" &&
        description_input != "" &&
        token_id_input != "" &&
        image_input != "" &&
        current_chain_input != ""
      ) {
        const returnData = await $.ajax("/controller/add_metadata", {
          type: 'post', // http method
          data: {
            name: name_input,
            description: description_input,
            token_id: token_id_input,
            image: image_input,
            current_chain: current_chain_input,
            attributes: JSON.stringify(attribute_list_arr)
          }, // data to submit
          success: function(data, status, xhr) {},
          error: function(jqXhr, textStatus, errorMessage) {
            $('p').append('Error: ' + errorMessage);
          }
        })
        if (returnData) {
          window.location.href = "/home";
        } else {
          alert("Try again.");
        }
      } else {
        alert("Fill in all input.");
      }
    });
  </script>
</body>

</html>
<!-- href="/controllers/loginController" -->